{% extends 'base.html' %}
{% set active_page = 'add_employee' %}
{% set role = role|default(none) %}
<!-- Importing macro to render form fields -->
{% from "macros.html" import render_field %}

{% block title %}
    Add Employee
{% endblock %}

{% block content %}
    {% if role == '1' %}
    
        <div style = "padding: 2%;"class="jumbotron h1 text-center">
            Nusery Mangement Simplified
            <p style="padding-top: 0.5%; color: dimgray; font-size: medium;";">Add your Employees</p>
        </div>
            
        <div class="container">
            <form method="POST" action="{{ url_for('owner.add_manager') }}" enctype ="multipart/form-data">
            <dl>
                {{ render_field(form.name ,placeholder = "Employee Name",class = "form-control") }}
                {{ render_field(form.email,placeholder = "Employee Email",class = "form-control") }}
                {{ render_field(form.password,placeholder = "Enter a secure password",class = "form-control") }}
                {{ render_field(form.confirm,placeholder = "Re-Enter Password",class = "form-control") }}
                {{ render_field(form.role,placeholder = "Select Role",class = "form-control") }}
            </dl>
            <p><input type=submit value="   Add   " class="btn btn-info mt-2"></p>
            </form>
        </div>

    {% endif %}
{% endblock %}