{% extends 'base.html' %}
{% set role = role|default(none) %}
{% set img_sales_stats = img_sales_stats|default(none) %}
{% set active_page = 'view_stats' %}

{% block title %}
    Statistics
{% endblock %}

{% block content %}
    {% if role == '1' %}
    <div style = "padding: 3%;"class="jumbotron h1 text-center">
        Statistics for your Nurseries
    </div>
    <div class="container text-center">
        <img class="m-5 " src="{{ img_sales_stats }}" alt="Sales stats not available" width="450" height="350">
    </div>
    {% endif %}
{% endblock %}