<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action=".">
        <label for="fname">name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="emailID">emailID:</label><br>
        <input type="text" id="emailID" name="emailID" required><br>
        <label for="password">password</label><br>
        <input type="password" id="password" name="password" required><br>

        <label>Role:</label><br>
        <input type="radio" id="role" name="role" value="0" required>
        <label for="male">customer</label><br>
        <input type="radio" id="role" name="role" value="1">
        <label for="female">owner</label><br>

        <button type="submit" name="submit">Sign in</button>
    </form>
    
</body>
</html>