{# This is templates/signup.html #}
{% extends 'base.html' %}
{% set active_page = 'signup' %}

{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% block title %}
    Signup
{% endblock %}

{% block content %}
    <div style = "padding: 2%;"class="jumbotron h1 text-center">
        Nusery Mangement Simplified
        <p style="padding-top: 0.5%; color: dimgray; font-size: medium;";">Sign Up</p>
    </div>

    <div class="container">
        <form method="POST" action="." enctype ="multipart/form-data">
        <dl>
            {{ render_field(form.name ,placeholder = "Your Name",class = "form-control") }}
            {{ render_field(form.email,placeholder = "Your Email",class = "form-control") }}
            {{ render_field(form.password,placeholder = "Enter a secure password",class = "form-control") }}
            {{ render_field(form.confirm,placeholder = "Re-Enter Password",class = "form-control") }}
            {{ render_field(form.role,placeholder = "Select Role",class = "form-control") }}
        </dl>
        <p><input type=submit value="Sign Up" class="btn btn-info mt-2"></p>
        </form>
    </div>

    
    <!-- <form method="POST" action=".">
        <label for="fname">name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="emailID">emailID:</label><br>
        <input type="text" id="emailID" name="emailID" required><br>
        <label for="password">password</label><br>
        <input type="password" id="password" name="password" required><br>

        <label>Role:</label><br>
        <input type="radio" id="role" name="role" value="0" required>
        <label for="male">customer</label><br>
        <input type="radio" id="role" name="role" value="1">
        <label for="female">owner</label><br>

        <button type="submit" name="submit">Sign in</button>
    </form> -->

{% endblock %}