{# This is template/auth/signin.html #} 
{% extends 'base.html' %}
{% set active_page = 'signin' %}

{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  </dd>
{% endmacro %}

<!-- Title -->
{% block title %}
  Signin
{% endblock %}

<!-- Body -->
{% block content %}
<div>
  <div>
    <div style = "padding: 2%;"class="jumbotron h1 text-center">
      Nusery Mangement Simplified
      <p style="padding-top: 0.5%; color: dimgray; font-size: medium;";">Sign In</p>
    </div>
    <div class="container">
      <form method="POST" action="." accept-charset="UTF-8" role="form">
        {{ form.csrf_token }}
        {{ render_field(form.email, placeholder="Your Email Address",
                                    autofocus="",class = "form-control") }}
        {{ render_field(form.password, placeholder="Password",class = "form-control") }}
        <div class="custom-control custom-switch">
          <input type="checkbox" name="remember" value="1" class="custom-control-input" id="switch1"> 
          <label class="custom-control-label" for="switch1">Remember me</label>
          <a role="button" href="">Forgot your password?</a>
          <span class="clearfix"></span>
        </div>
        <button  type="submit" name="submit" class="btn btn-info mt-2">Sign in</button>
      </form>
    </div>
  
  </div>
</div>
{% endblock %}
