{# This is templates/signup.html #}
{% extends 'base.html' %}
{% set active_page = 'signup' %}

{% block title %}
    Signup
{% endblock %}

{% block content %}
    <form method="POST" action=".">
        <label for="fname">name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="emailID">emailID:</label><br>
        <input type="text" id="emailID" name="emailID" required><br>
        <label for="password">password</label><br>
        <input type="password" id="password" name="password" required><br>

        <label>Role:</label><br>
        <input type="radio" id="role" name="role" value="0" required>
        <label for="male">customer</label><br>
        <input type="radio" id="role" name="role" value="1">
        <label for="female">owner</label><br>

        <button type="submit" name="submit">Sign in</button>
    </form>

{% endblock %}