{# This is templates/index.html #}
{% extends 'base.html' %}
{% set active_page = 'index' %}
{% set role = role|default(none) %}
{% set plants_list = plants_list|default(none) %}
{% set maintenance_img = maintenance_img|default(none) %}
{% from 'macros.html' import render_plants_customer %}

{% block title %}
    Index Page
{% endblock %}

{% block content %}
    {% if role is not none %}
        {% if role == '0' %}
            <div style = "padding: 2%; margin: 1%; "class="jumbotron h1 text-center">
                Welcome
            </div>
        
            <!-- Filter button -->
            <div class="row-fluid" style = "padding: 1%;">
                <button id="modalActivate" type="button" class="btn btn-danger" data-toggle="modal" data-target="#sortEmployee" style="float: right;">Filter</button>
            </div>
        
            <div class ="row">
                <div class="col-md-8" style="overflow-y: scroll; margin: auto">
                <div class="container-fluid">
                    {{ render_plants_customer(plants_list) }}
                </div>
                </div>
            </div>
    
        {% elif role == '1' %}
            <div class="jumbotron h1 text-center">
                Welcome {{ user_name }}
            </div>
            <div class ="text-center row-fluid py-2 mb-4" >
                <h2> Showing Statistics </h2>
            </div>
            <div class="container text-center">
                <img style="max-height: 1600px; max-width: 1200px; padding: 5% 10%;" src="{{ maintenance_img }}" class="card-img" alt="No Graphs Available for maintenance yet">
                <h3 class="pb-5"> Plot comparing expenditure among different nurseries </h3>
                <!-- <div class ="row -fluid">
                    <div class="card mb-3 bg-secondary" >
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        {% else %}
            <div class="jumbotron h1 text-center">
                Welcome {{ user_name }}
            </div>
        {% endif %}
    {% else %}

        <div class="jumbotron h1 text-center">
            Welcome to NMS
        </div>
        <div style="text-align: center;" class="container">
            <h2>New User?</h2>
            <p>
                <a class = "btn btn-lg btn-success" role = "button" href="{{ url_for('auth.signup') }}" class="href">Sign Up</a>
            </p>
            <br>
            <h2>For Existing Users</h2>
            <p>
                <a class = "btn btn-lg btn-success" role = "button" href="{{ url_for('auth.signin') }}" class="href">Sign In</a>
            </p>
        </div>
    {% endif %}

{% endblock %}