{# This is templates/index.html #}
{% extends 'base.html' %}
{% set active_page = 'index' %}
{% set role = role|default(none) %}

{% block title %}
    Index Page
{% endblock %}

{% block content %}
    {% if role is not none %}

        <h1>Welcome {{ user_name }}</h1>

    {% else %}

        <h1>WElcome!!</h1>
        <a href="{{ url_for('auth.signin') }}" class="href">signin</a>
        <br>
        <a href="{{ url_for('auth.signup') }}" class="href">signup</a>
    
    {% endif %}

{% endblock %}