{% extends 'base.html' %}
{% set active_page = 'view_plant_profile' %}
{% set role = role|default(none) %}
{% set description = description|default({}) %}

{% block title %}
    View Plant Profile
{% endblock %}

{% block content %}
    {% if role == '0' %}
        <form action="{{ url_for('customer.view_plant_profile') }}" method="post">
            <h1>
                <img src ="{{ description['image'] }}" class="card-img" alt="..." style="height: 350px; width: 350px;">
                Name: {{ description['name']|title() }}
            </h1>
            <h3>
                Sold By Nursery: {{ description['nID'] }} <br>
                Remaining: {{ description['quantity'] }} <br>
                Uses:
                    {% for use in description['uses'] %}
                        {{ use }}&nbsp; &nbsp;
                    {% endfor %} <br> <br>
                
                Plant Description: <br>
                &nbsp; Fertilizer: {{ description['fertilizer'] }} <br>
                &nbsp; Water Req: {{ description['water'] }} ml/day <br>
                &nbsp; Weather Conditions: {{ description['weather'] }} <br>
                &nbsp; Sunlight req: {{ description['sunlight'] }} <br>
                &nbsp; Potsize req: {{ description['potSize'] }} <br>
                &nbsp; Special Req: {{ description['special'] }} <br> <br>

                Choose Colours: <br>
                    {% for colour in description['colour'] %}
                        <input type="radio" name="colour" value="{{ colour }}" required>
                        <label >{{ colour }}</label>
                    {% endfor %} <br>
            </h3>

            <input type="submit" class="btn btn-danger" name="add_to_cart" value="Add To Cart">  
            <input type="submit" class="btn btn-success" name="purchase" value="Purchase">
        </form>
    {% endif %}
{% endblock %}