{% extends 'base.html' %}
{% set active_page = 'add_plant' %}
{% set role = role|default(none) %}
{% set assigned = assigned|default('False') %}
{% from "macros.html" import render_field %}

{% block title %}
    Add Gardener
{% endblock %}

{% block content %}
    {% if role == '2' %}
    
    {% if assigned == 'True' %}
        <div style = "padding: 2%;"class="jumbotron h1 text-center">
            Add Plant to Nursery
            <p style="padding-top: 0.5%; color: dimgray; font-size: medium;";">Fill in the details and click create</p>
        </div>
        <div class="container" style="margin-top: 40px;">
            <form method="POST" enctype=multipart/form-data action="{{ url_for('manager.add_plant') }}">
                <dl>
                    {{ render_field(form.pname,placeholder = "Plant Name",class="form-control") }}        
                    {{ render_field(form.fertilizer,placeholder = "Fertilizer",class="form-control") }}        
                    {{ render_field(form.weather,placeholder = "Weather Conditions",class="form-control") }}        
                    {{ render_field(form.sunlight,placeholder = "Amount of Sunlight",class="form-control") }}        
                    {{ render_field(form.potsize,placeholder = "Pot Size",class="form-control") }}        
                    {{ render_field(form.water,placeholder = "Amount of water",class="form-control") }}        
                    {{ render_field(form.special,placeholder = "Special Requirements (if any)",class="form-control") }}
                    <p style="margin-top: 20px;"><strong>Select Plant Uses. You may control-click (Windows) or command-click (Mac) to select more than one.</strong></p>
                    {{ render_field(form.uses,placeholder = "Uses",class="form-control") }}        
                </dl>
                <div class="input-group" style="margin-top: 20px;margin-bottom: 20px;">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01"
                        aria-describedby="inputGroupFileAddon01">
                        <input class = " custom-file-input" type=file id="img" name="img" required>
                      <label class="custom-file-label" for="img">Choose image</label>
                    </div>
                  </div>
                <button style = " margin-bottom: 40px;"class = "btn btn-success" type="submit" name="submit" value=upload>Create</button><br>   
            </form>
        </div>
    {% else %}
        <h1>No nursery assigned yet.</h1>
    {% endif %}


    {% endif %}
{% endblock %}