{% extends 'base.html' %}
{% set active_page = 'add_gardener' %}
{% set role = role|default(none) %}

{% block title %}
    Add Gardener
{% endblock %}

{% block content %}
    {% if role == '2' %}
    
    <form method="POST" action="{{ url_for('manager.add_gardener') }}">
        <label for="fname">name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="emailID">emailID:</label><br>
        <input type="text" id="emailID" name="emailID" required><br>
        <label for="password">password</label><br>
        <input type="password" id="password" name="password" required><br>

        <button type="submit" name="submit">Create</button>
    </form>

    {% endif %}
{% endblock %}