{% extends 'base.html' %}
{% set active_page = 'stats.html' %}
{% set role = role|default(none) %}
{% set img_seed_available = img_seed_available|default(none) %}

{% block title %}
    Stats
{% endblock %}

{% block content %}
    {% if role == '2' %}
        <div style = "padding: 3%;"class="jumbotron h1 text-center">
            Statistics
        </div>
        <div class="container text-center">
           <h4> <img class="m-5 " src="{{ img_seed_available }}" alt="NO graph for Total seeds comparison available"> </h4>
        </div>
    {% endif %}
{% endblock %}