{% extends 'base.html' %}
{% set active_page = 'view_gardeners' %}
{% set role = role|default(none) %}
{% set employee_list = employee_list|default([('','',''),]) %}

{% from 'macros.html' import render_employees %}

{% block title %}
    View Gardeners
{% endblock %}

{% block content %}
    {% if role == '2' %}
        <div style = "padding: 2%;"class="jumbotron h1 text-center">
            Nusery Mangement Simplified
            <p style="padding-top: 0.5%; color: dimgray; font-size: medium;";">View Gardeners</p>
        </div>

      <div class="row-fluid">
        <button id="modalActivate" type="button" class="btn btn-danger" data-toggle="modal" data-target="#rateEmployee" style="float: right;">Rate Employee
          </button>
      </div>


      <div class ="row">
        <div class="col-md-8" style="overflow-y: scroll;">
          <div class="container-fluid">
            {{ render_employees(employee_list) }}
          </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade right" id="sortEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalPreviewLabel">Sort By</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>Designation</label>
            <br>
            <label>Rating</label>
            <div class="btn-group" role="groupRating" aria-label="Rating">
              <button type="button" class="btn btn-secondary" onclick="modalOrder('')">None</button>
              <button type="button" class="btn btn-secondary" onclick="modalOrder('asc')">Ascending</button>
              <button type="button" class="btn btn-secondary" onclick="modalOrder('desc')">Descending</button>
            </div>
            <br> 
            <label>Nurseries</label>
            <div class="btn-group" role="groupRating" aria-label="Rating">
              <button type="button" class="btn btn-secondary" onclick="modalAssigned('')">All</button>
              <button type="button" class="btn btn-secondary" onclick="modalAssigned('assigned')">Assigned</button>
              <button type="button" class="btn btn-secondary" onclick="modalAssigned('unassigned')">Unassigned</button>
            </div>
            <br>
            <!-- Fixme -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="">Save changes</button>
          </div>
        </div>
      </div>
      </div>  

      <!-- Modal for rate employee-->
      <form action="{{ url_for('manager.rate_gardener') }}" method="post">
        <div class="modal fade right" id="rateEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title text-dark" id="exampleModalPreviewLabel">Rate Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body btn-block"> 
                <ul>
                    <label for="">Email ID:</label>
                    <input type="text" name="emailID" required><br>
                    <label for="score">Score:</label> 
                    <input type="number" name="score" required>
                </ul>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" onclick="">Rate</button>
                </div>
            </div>
            </div> 
            </div>
        </form>
        <!-- Modal for buy rate employee ends -->
    {% endif %}
{% endblock %}