{% extends 'base.html' %}
{% set active_page = 'view_plants' %}
{% set role = role|default(none) %}
{% set plants_list = plants_list|default([('','',''),]) %}

{% from 'macros.html' import render_plants %}

{% block title %}
    View Plants
{% endblock %}

{% block content %}
    {% if role == '2' %}
        {% if plants_list != [('', '', ''),] %}
            {{ render_plants(plants_list) }}
        {% else %}
            <h1>NO plant exists.</h1>
        {% endif %}
    {% endif %}
{% endblock %}