{% extends 'base.html' %}
{% set active_page = 'view_plant_type_profile' %}
{% set role = role|default(none) %}
{% set description = description|default({}) %}

{% block title %}
    View Plant Profile
{% endblock %}

{% block content %}
    {% if role == '3' %}
    <div class="container">
        <div style="background-color:rgb(197, 204, 203);" class="text-center mt-5 rounded">
            <img src ="{{ description['image'] }}" class="rounded my-4" alt="..." style="height: 350px; width: 350px;">
            <h1 class="font-weight-bold pb-4">    
                    {{ description['name']|title() }}
            </h1>
        </div>
        <div class="my-5">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Plant Information</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Sold By Nursery:</th>
                    <td>{{ description['nID'] }}</td>
                </tr>
                <tr>
                    <th scope="row">Uses:</th>
                    <td>
                        {% for use in description['uses'] %}
                            {{ use|title() }}&nbsp; &nbsp;
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Plant Requirements</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Fertilizer :</th>
                        <td>{{ description['fertilizer']|title() }}</td>
                    </tr>
                    <tr>
                        <th scope="row"> Water (in ml/day) :</th>
                        <td>{{ description['water'] }} </td>
                    </tr>
                    <tr>
                        <th scope="row">Weather Conditions :</th>
                        <td>{{ description['weather']|title() }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Sunlight :</th>
                        <td>{{ description['sunlight']|title() }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Potsize :</th>
                        <td>{{ description['potSize']|title() }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Special Requirements :</th>
                        <td>{{ description['special']|title() }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}