<!-- Macro for navbar -->
{% macro render_navbar(active_page, logged_in = 'False', role = none) %}
    
    {% if logged_in == 'False' %}
        {% set navbar_list = [
            ("landing.index", 'index', 'Home'),
            ('auth.signin', 'signin', 'Sign In'),
            ("auth.signup", 'signup', 'Sign Up')
            ] %}
    {% else %}
        <!-- Sets the items on nav bar when signed in -->
        {% set navbar_list = [
            ("landing.index", 'index', 'Home'),
            ] %}
         <!-- Set the items for drop down menu once signed in -->
        {% if role == '1' %}
            {% set dropdown_list = [
                ('owner.add_nursery', 'Add Nursery'),
                ('owner.view_nurseries', 'View Nurseries'),
                ('owner.add_manager', 'Add Manager'),
                ('owner.view_employees', 'View Employees'),
                ('owner.view_stats', 'View Stats'),
                ('auth.signout', 'Signout')
                ] %}
            {% set home_url = "/welcome_owner" %}
        {% elif role == '0' %}
            {% set dropdown_list = [
                ('customer.view_cart', 'View Cart'),
                ('customer.view_order_history', 'View Order History'),
                ('auth.signout', 'Signout')
                ] %}
            {% set home_url = "/welcome" %}
        {% elif role == '2' %}
            {% set dropdown_list = [
                ('manager.add_plant', 'Add Plant'),
                ('manager.view_plants', 'View Plants'),
                ('manager.add_gardener', 'Add Gardener'),
                ('manager.view_gardeners', 'View Gardeners'),
                ('manager.add_vendor', 'Add Vendor'),
                ('manager.view_stats', 'View Stats'),
                ('manager.view_active_complaints', 'Active Complaints'),
                ('auth.signout', 'Signout')
                ] %}
            {% set home_url = "/" %}
        {% elif role == '3' %}
            {% set dropdown_list = [
                ('gardener.view_plant_types', 'View Plant Types'),
                ('gardener.view_plants_assigned', 'View Plants Assigned'),
                ('gardener.view_stats', 'View Stats'),
                ('auth.signout', 'Signout')
                ] %}
            {% set home_url = "/" %}
        {% endif %}
    {% endif %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark nav">
        <i class="fab fa-pagelines fa-3x mr-sm-3" style="color:#228B22;"></i>
        <a class="navbar-brand" href= {{ home_url }} >Nursery Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                
                {% for href, id, caption in navbar_list %}
                    <li class="nav-item">
                        
                        <li {% if id == active_page %}class = "active"{% endif %}>
                            <a class="nav-link" href="{{ url_for(href) }}">{{ caption }}<span class="sr-only">(current)</span></a>
                        </li>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
        {% if logged_in == 'True' %}
            <!-- Drop down starts -->
            <div class="btn-group">
                <!-- Dropdown button(only when signed in) -->
                <button type="button" class="btn btn-secondary dropdown-toggle bg-dark" style="border: none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a  href="{{url_for('landing.index')}}" style="text-decoration: none;">
                        <i class="fas fa-user-tie fa-2x ml-sm-2" style="color: #ffff;"></i>
                    </a>
                </button>

                <!-- Drop down Items -->
                <div class="dropdown-menu dropdown-menu-right">
                    {% for href, caption in dropdown_list%}
                        <a href="{{ url_for(href) }}" style="text-decoration: none;">
                            <button class="dropdown-item" type="button">
                                {{ caption }}
                            </button>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        
    </nav>
{% endmacro %}
<!-- navbar macro ends -->

<!-- Macro for getting employee list under owner or manager -->
{% macro render_employees(employee_list, assign='False') %}
    {% if employee_list != [('', '', ''),] %}
        {% for name, emailID, designation in employee_list %}
            {% if assign == 'False' %}
            <div class ="card-deck">
                <div class = "card text-white bg bg-dark mb-3">
                    <div class="row no-gutters">
                        <div class ="col-md-4">
                            <img src ="https://www.pngkey.com/png/detail/521-5214782_alexander-ariel-placeholder-person.png" class="card-img h-100" alt="Employee Image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-header">
                                <h3>{{name|title()}}</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                {{designation}}
                                <br>
                                {{emailID}}
                                </p> 
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-primary mx-2">Visit Profile</a>
                                <a href="#" class="btn btn-danger mx-2">Remove</a>  
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% else %}
                <option  value={{emailID}}>
                    <h5>{{ name }} - {{ emailID }}</h5>
                </option>
            {% endif %}
        {% endfor %}
    {% else %}
            <h1>No employee</h1>
    {% endif %}
{% endmacro %}
<!-- employee list macro ends -->

<!-- Macro for getting nurseries -->
{% macro render_nurseries(nursery_list, id=-1) %}
    {% set dropdown_list = [
        ('owner.assign_manager', 'Assign Manager'),
        ('owner.remove_manager', 'Remove Manager'),
        ('owner.remove_nursery', 'Remove Nursery')
        ] %}
    {% for id, maintenance, labour, pincode, city, country in nursery_list %}
        <div class ="card-deck">
                <div class = "shadow card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-12">
                            <div class="card-header bg bg-dark text-white">
                                <h3>Nursery ID: {{id}}</h3>
                            </div>
                            <div class="card-body bg-light">
                                <p class="card-text">
                                Maintainance Cost : {{ maintenance }} <br>
                                Labour Cost: {{ labour }} <br>
                                Pincode : {{ pincode }} <br>
                                City : {{ city }} <br>
                                Country :  {{ country }}
                                </p> 
                            </div>
                            <div class="card-footer">
                                <!-- Drop down starts -->
                                <div class="btn-group">
                                    <!-- Dropdown button(only when signed in) -->
                                    <button type="button" class="btn btn-primary dropdown-toggle " style="border: none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <a  href="{{url_for('landing.index')}}" style="text-decoration: none;">
                                            <i class="fas fa-cogs fa-2x ml-sm-2" style="color: #ffff;"></i>
                                        </a>
                                    </button>
                                    <!-- Drop down Items -->
                                    <div class="dropdown-menu dropdown-menu-right">
                                        {% for href, caption in dropdown_list%}
                                        <a href="{{ url_for(href, id=id) }}" style="text-decoration: none;">
                                            <button class="dropdown-item" type="button">
                                                {{ caption }}
                                            </button>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
{% endmacro %}
<!-- nurseries macro ends -->

<!-- Macro for rendering form fields -->
{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
<!-- Form Field Macro ends --> 

<!-- Macro for rendering Plants -->
{% macro render_plants(plant_type_list) %}
    {% for plant in plant_type_list %}
        {% if loop.length != 0 %}
            <div class ="card-deck">
                <div class = "card text-white bg bg-dark mb-3">
                    <div class="row no-gutters">
                        <div class ="col-md-4">
                            <img src ="{{ plant['image'] }}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-header">
                                <h3>{{plant['name']|title()}}</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                Seeds Available: {{ plant['seedsAvailable'] }}<br>
                                Selling Price: {{ plant['sellingPrice'] }} <br>
                                Uses: 
                                {% for use in plant['uses'] %}
                                    {{use}}&nbsp;&nbsp;
                                {% endfor %}
                                </p> 
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-primary">Visit Profile</a>
                                <a href="." class="btn btn-danger" data-toggle="modal" data-target="#{{plant['name']}}">Buy Seeds</a>  
                                <a href="{{ url_for('manager.update_selling_price', id=plant['id']) }}" class="btn btn-success">Update Price</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal for buy seeds-->
            <form action="{{ url_for('manager.buy_seeds') }}" method="post">
            <div class="modal fade right" id="{{plant['name']}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title text-dark" id="exampleModalPreviewLabel">Choose Vendor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body btn-block"> 
                    <ul>
                    {{ render_vendors(plant['vendors_list'], plant['id']) }}
                    </ul>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" onclick="">Buy</button>
                    </div>
                </div>
                </div> 
                </div>
            </form>
            <!-- Modal for buy seeds ends -->

        {% endif %}
    {% endfor %}
{% endmacro %}
<!-- Macro for rendering plants ends -->

{% macro render_plant_types(plant_type_list) %}      
    {% for plant in plant_type_list %}
        {% if loop.length != 0 %}
            <div class ="card-deck">
                <div class = "card text-white bg bg-dark mb-3">
                    <div class="row no-gutters">
                        <div class ="col-md-4">
                            <img src ="{{ plant['image'] }}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-header">
                                <h3>{{plant['name']|title()}}</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                Seeds Available: {{ plant['seedsAvailable'] }}<br>
                                Uses: 
                                {% for use in plant['uses'] %}
                                {{use}}&nbsp;&nbsp;
                                {% endfor %}
                                </p> 
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('gardener.view_plant_type_profile', plantTypeID=plant['id']) }}" class="btn btn-primary">Visit Profile</a>
                                <a href="." class="btn btn-danger" data-toggle="modal" data-target="#{{plant['name']}}">Sow Seeds</a>  
                            </div>
                        </div>

                    </div>
                </div>
            </div>

                   <!-- Modal for sow seeds-->
            <form action="{{ url_for('gardener.sow_seeds')  }}" method="post">
                <div class="modal fade right" id="{{plant['name']}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-dark" id="exampleModalPreviewLabel">Choose Batch</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body btn-block"> 
                                <ul>
                                    {{ render_seeds_to_sow(plant['seeds_list'], plant['id']) }}
                                </ul>
                            <!-- Fixme -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success" onclick="">Sow</button>
                            </div>
                        </div>
                    </div> 
                </div>
            </form>
        {% endif %}
    {% endfor %}
{% endmacro %}

<!-- Macro for selecting plants for vendor -->
{% macro render_plants_for_vendor(plant_type_list) %}
    {% for plant in plant_type_list %}
        {% if loop.length != 0 %}
        <li class="list-group-item">
            <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id={{ plant['name'] }} name="checkbox" value={{ plant['id'] }}>
              <label class="custom-control-label" for={{ plant['name'] }} >
                    <div class ="card-deck">
                        <div class = "card text-white bg bg-dark mb-3">
                            <div class="row no-gutters">
                                <div class ="col-md-4">
                                    <img src ="{{ plant['image'] }}" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-header">
                                        <h3>{{plant['name']|title()}}</h3>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                        Uses: 
                                        {% for use in plant['uses'] %}
                                        {{use}}&nbsp;&nbsp;
                                        {% endfor %}
                                        </p> 
                                    </div>
                                    <div class="card-footer">
                                        <input type="number" name={{plant['id']}} placeholder="Cost per 1000 seeds"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              </label>
            </div>
          </li>
        {% endif %}
    {% endfor %}
{% endmacro %}
<!-- macro for selecting plants for vendor ends -->

<!-- Macro for choosing vendors -->
{% macro render_vendors(vendors_list, plant_id) %}
    {% for vendor in vendors_list %}
        {% if loop.length != 0 %}
            <li class="list-group-item">
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="{{ vendor['name'] }}{{plant_id}}" name="checkbox" value="{{ vendor['id'] }}_{{plant_id}}">
                <label class="custom-control-label" for="{{ vendor['name'] }}{{plant_id}}" >
                        <div class ="card-deck">
                            <div class = "card text-white bg bg-dark mb-4">
                                <div class="row no-gutters">
                                    
                                    <div class="col-md-12">
                                        <div class="card-header">
                                            <h3>{{vendor['name']|title()}}</h3>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                            Cost: {{vendor['cost']}} (per 1000)
                                            </p> 
                                        </div>
                                        <div class="card-footer">
                                            Quantity:
                                            <input type="text" name="quantity{{vendor['id']}}" placeholder="Number of seeds(Approx.)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </label>
                </div>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}
<!-- End macro for vendors -->

<!-- Macro for seeds to sow -->
{% macro render_seeds_to_sow(seeds_list, plant_id) %}
    {% for seed in seeds_list %}
        {% if loop.length != 0 %}
            <li class="list-group-item">
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="{{ seed['vendor_name'] }}{{plant_id}}" name="checkbox" value="{{ seed['id'] }}_{{plant_id}}">
                <label class="custom-control-label" for="{{ seed['vendor_name'] }}{{plant_id}}" >
                        <div class ="card-deck">
                            <div class = "card text-white bg bg-dark mb-4">
                                <div class="row no-gutters">
                                    
                                    <div class="col-md-12">
                                        <div class="card-header">
                                            <h3>{{seed['vendor_name']|title()}}</h3>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                            Cost: {{seed['cost']}} (per 1000) <br>
                                            Quantity Available: {{ seed['batch_size'] }} <br>
                                            Date Of Purchase: {{ seed['date'] }}
                                            </p> 
                                        </div>
                                        <div class="card-footer">
                                            Quantity:
                                            <input type="text" name="quantity{{seed['id']}}" placeholder="Number of Plants">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </label>
                </div>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}
<!-- macro for seeds to sow ends -->

<!-- Macro for plants assigned -->
{% macro render_plants_assigned(plants_list) %}
    {% for plant in plants_list %}
        {% if loop.length != 0 %}
            <div class ="card-deck">
                <div class = "card text-white bg bg-dark mb-3">
                    <div class="row no-gutters">
                        <div class ="col-md-4">
                            <img src ="{{ plant['image'] }}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-header">
                                <h3>{{plant['name']|title()}}</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                Date Sown: {{ plant['date_sown'] }}<br>
                                Status: {{ plant['status'] }} <br>
                                ID: {{ plant['id'] }}
                                </p> 
                            </div>
                            <div class="card-footer btn-group">
                                <a href="{{ url_for('gardener.view_plant_profile', pID=plant['id']) }}" class="btn btn-primary">Visit Profilee</a>
                                <div class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle ml-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Change Status
                                    </a>
                                  
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                      <a class="dropdown-item" href="{{ url_for('gardener.change_status', id=plant['id'], status='growing') }}">Growing</a>
                                      <a class="dropdown-item" href="{{ url_for('gardener.change_status', id=plant['id'], status='grown') }}">Grown</a>
                                      <a class="dropdown-item" href="{{ url_for('gardener.change_status', id=plant['id'], status='sold') }}">Sold</a>
                                      <a class="dropdown-item" href="{{ url_for('gardener.change_status', id=plant['id'], status='dead') }}">Dead</a>
                                      <a class="dropdown-item" href="{{ url_for('gardener.change_status', id=plant['id'], status='needs_attention') }}">Needs Attention</a>
                                    </div>
                                  </div>
                                <button id="modalActivate" type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#updateCostToRaise{{ plant['id'] }}" style="float: right;">Update Cost to Raise</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

              <!-- Modal -->
            <form action="{{ url_for('gardener.update_cost_to_raise')  }}" method="post">
                <div class="modal fade right" id="updateCostToRaise{{ plant['id'] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-dark" id="exampleModalPreviewLabel">Update Cost to Raise</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body btn-block">
                                <label>Reason</label>
                                <input type="number" value="{{ plant['id'] }}" style="visibility: hidden;" name="id"> <br>
                                <input type="text" placeholder="Reason" name="reason">
                                <input type="number" placeholder="Cost" name="cost" step=".01">
                                <br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <a href="#" class="btn">
                                <button type="submit" class="btn btn-success">Update</button>
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
            </form>
            <!-- Modal ends -->

        {% endif %}
    {% endfor %}
{% endmacro %}
<!-- macro for plants assigned ends -->

<!-- Macro for rendering Plants for customer -->
{% macro render_plants_customer(plant_type_list) %}
    {% for plant in plant_type_list %}
        {% if loop.length != 0 %}
            <div class ="card-deck">
                <div class = "card text-white bg bg-dark mb-3">
                    <div class="row no-gutters">
                        <div class ="col-md-4">
                            <img src ="{{ plant['image'] }}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-header">
                                <h3>{{plant['name']|title()}}</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                Selling Price: {{ plant['sellingPrice'] }} <br>
                                Nursery: {{ plant['nID'] }} <br>
                                Uses: 
                                {% for use in plant['uses'] %}
                                {{use}}&nbsp;&nbsp;
                                {% endfor %} <br>
                                {% if plant['quantity'] > 0 %}
                                    In Stock
                                {% else %}
                                    Out of Stock
                                {% endif %}
                                </p> 
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('customer.view_plant_profile', plantTypeID=plant['id']) }}" class="btn btn-primary">Visit Profile</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}
<!-- Macro for rendering plants ends -->

<!-- Macro for rendering order history -->
{% macro render_order_history(orders) %}
    {% for order in orders %}
        {% if loop.length != 0 %}
            <div class ="card-deck">
                <div class = "card text-white bg bg-dark mb-3">
                    <div class="row no-gutters">
                        <div class ="col-md-4">
                            <img src ="{{ order['image'] }}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-header">
                                <h3>{{order['name']|title()}}</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                Cost: {{ order['sellingPrice'] }} <br>
                                Nursery: {{ order['nID'] }} <br>
                                Date: {{ order['date'] }} <br>
                                </p> 
                            </div>
                            <div class="card-footer">
                                <button id="modalActivate" type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#fileComplaint{{ order['id'] }}" >File Complaint</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Modal -->
            <form action="{{ url_for('customer.file_complaint')  }}" method="post">
                <div class="modal fade right" id="fileComplaint{{ order['id'] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-dark" id="exampleModalPreviewLabel">Complaint</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body btn-block">
                                <label>Describe Your Issue:</label>
                                <input type="number" value="{{ order['id'] }}" style="visibility: hidden;" name="id"> <br>
                                <input type="numver" value="{{ order['nID'] }}" style="visibility: hidden;" name="nID"><br>
                                <textarea name="description"  cols="30" rows="10"></textarea>
                                <br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <a href="#" class="btn">
                                <button type="submit" class="btn btn-success">Complain</button>
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
            </form>
            <!-- Modal ends -->

        {% endif %}
    {% endfor %}
{% endmacro %}
<!-- Macro for order history ends -->

<!-- Macro for rendering Cart -->
{% macro render_cart(items) %}
    {% for item in items %}
        {% if loop.length != 0 %}
            <div class ="card-deck">
                <div class = "card text-white bg bg-dark mb-3">
                    <div class="row no-gutters">
                        <div class ="col-md-4">
                            <img src ="{{ item['image'] }}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-header">
                                <h3>{{item['name']|title()}}</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                Cost: {{ item['sellingPrice'] }} <br>
                                Nursery: {{ item['nID'] }} <br>
                                </p> 
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('customer.view_plant_profile', plantTypeID=item['plantTypeID']) }}" class="btn btn-primary">Visit Profile</a>
                                <form action="{{ url_for('customer.remove_from_cart') }}" method="post" style="display: inline;">
                                    <button type="submit" class="btn btn-danger">Remove from Cart</button>
                                    <input type="number" name="id" value="{{ item['id'] }}" style="visibility: hidden;">
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}
<!-- Macro for cart ends -->

<!-- Macro for active complaints -->
{% macro render_active_complaints(complaints) %}
    {% for complaint in complaints %}
        {% if loop.length != 0 %}
            <div class ="card-deck">
                <div class = "card text-white bg bg-dark mb-3">
                    <div class="row no-gutters">
                        <div class ="col-md-4">
                            <img src ="{{ complaint['image'] }}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-header">
                                <h3>{{complaint['name']|title()}}</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Plant ID: {{ complaint['pID'] }} <br>
                                    Gardener ID: {{ complaint['gardenerID'] }} <br>
                                    Gardener Name: {{ complaint['gardenerName'] }} <br>
                                    Description: {{ complaint['description'] }} <br>
                                    Date: {{ complaint['date'] }} <br>
                                </p> 
                            </div>
                            <div class="card-footer">
                                <form action="{{ url_for('manager.view_active_complaints') }}" method="post">
                                    <input type="number" name="complaintNumber" value="{{ complaint['complaintNumber'] }}" style="visibility: hidden;"> <br>
                                    <button type="submit" class="btn btn-primary">Resolve</button>
                                </form>
                                    
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        {% endif %}
    {% endfor %}
{% endmacro %}
<!-- macro for active complaints ends -->