<!-- Macro for navbar -->
{% macro render_navbar(active_page, logged_in = 'False', role = none) %}
    
    {% if logged_in == 'False' %}
        {% set navbar_list = [
            ("landing.index", 'index', 'Home'),
            ('auth.signin', 'signin', 'Signin'),
            ("auth.signup", 'signup', 'Signup')
            ] %}
    {% else %}
        <!-- Sets the items on nav bar when signed in -->
        {% set navbar_list = [
            ("landing.index", 'index', 'Home'),
            ] %}
         <!-- Set the items for drop down menu once signed in -->
        {% if role == '1' %}
            {% set dropdown_list = [
                ('owner.add_nursery', 'Add Nursery'),
                ('owner.view_nurseries', 'View Nurseries'),
                ('owner.add_manager', 'Add Employee'),
                ('owner.view_employees', 'View Employees'),
                ('auth.signout', 'Signout')
                ] %}
        {% elif role == '0' %}
            {% set dropdown_list = [
                ('auth.signout', 'Signout')
                ] %}
        {% elif role == '2' %}
            {% set dropdown_list = [
                ('manager.add_plant', 'Add Plant'),
                ('manager.add_gardener', 'Add Gardener'),
                ('manager.view_gardeners', 'View Gardeners'),
                ('auth.signout', 'Signout')
                ] %}
        {% elif role == '3' %}
            {% set dropdown_list = [
                ('auth.signout', 'Signout')
                ] %}
        {% endif %}
    {% endif %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav">
        <i class="fab fa-pagelines fa-3x mr-sm-3" style="color:#228B22;"></i>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                
                {% for href, id, caption in navbar_list %}
                    <li class="nav-item">
                        
                        <li {% if id == active_page %}class = "active"{% endif %}>
                            <a class="nav-link" href="{{ url_for(href) }}">{{ caption }}<span class="sr-only">(current)</span></a>
                        </li>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
        {% if logged_in == 'True' %}
            <!-- Drop down starts -->
            <div class="btn-group">
                <!-- Dropdown button(only when signed in) -->
                <button type="button" class="btn btn-secondary dropdown-toggle bg-dark" style="border: none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a  href="{{url_for('landing.index')}}" style="text-decoration: none;">
                        <i class="fas fa-user-tie fa-2x ml-sm-2" style="color: #ffff;"></i>
                    </a>
                </button>

                <!-- Drop down Items -->
                <div class="dropdown-menu dropdown-menu-right">
                    {% for href, caption in dropdown_list%}
                        <a href="{{ url_for(href) }}" style="text-decoration: none;">
                            <button class="dropdown-item" type="button">
                                {{ caption }}
                            </button>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        
    </nav>
{% endmacro %}
<!-- navbar macro ends -->

<!-- Macro for getting employee list under owner or manager -->
{% macro render_employees(employee_list, assign='False') %}
    {% for name, emailID, designation in employee_list %}
        {% if assign == 'False' %}
        <ul>
            <li><h2>{{ name }}   {{ emailID }}    {{ designation }}</h2></li>
        </ul>
        {% else %}
            <input type="radio" name="assign_manager" id="assign_manager" value={{emailID}} required>
            {{ name }} - {{ emailID }}</br>
        {% endif %}
    {% endfor %}
{% endmacro %}
<!-- employee list macro ends -->

<!-- Macro for getting nurseries -->
{% macro render_nurseries(nursery_list, id=-1) %}
    {% set dropdown_list = [
        ('owner.assign_manager', 'Assign Manager'),
        ('owner.remove_manager', 'Remove Manager'),
        ('owner.remove_nursery', 'Remove Nursery')
        ] %}
    {% for id, maintenance, labour, pincode, city, country in nursery_list %}
        <ul>
            <h1><li>
                {{ maintenance }} |  {{ labour }} | {{ pincode }} | {{ city }}   |  {{ country }} 
                <!-- Drop down starts -->
                <div class="btn-group">
                    <!-- Dropdown button(only when signed in) -->
                    <button type="button" class="btn btn-secondary dropdown-toggle bg-dark" style="border: none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <a  href="{{url_for('landing.index')}}" style="text-decoration: none;">
                            <i class="fas fa-cogs fa-2x ml-sm-2" style="color: #ffff;"></i>
                        </a>
                    </button>

                    <!-- Drop down Items -->
                    <div class="dropdown-menu dropdown-menu-right">
                        {% for href, caption in dropdown_list%}
                            <a href="{{ url_for(href, id=id) }}" style="text-decoration: none;">
                                <button class="dropdown-item" type="button">
                                    {{ caption }}
                                </button>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </li></h1>
        </ul>
    {% endfor %}
{% endmacro %}
<!-- nurseries macro ends -->